<h1> <%= @cat.name %></h1>

<table>
    <thead>
        <tr>
            <th colspan="2">Attributes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>age</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>birth_date</td>
            <td><%= @cat.birth_date %></td>
        </tr>
         <tr>
            <td>sex</td>
            <td><%= @cat.sex %></td>
        </tr>
         <tr>
            <td>color</td>
            <td><%= @cat.color %></td>
        </tr>
    </tbody>
</table>


